@import "./overwrite";

#logo {
    width:100px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -5px;
    margin-right: -5px;
    
}

footer{
    font-size: 80%;
}
footer i {
    font-size: 180%;
}

#propic {width:30px}
#copy{
    font-size: 80%;
}
#kids{ 
font-size: 80%;
}

#avatar{
    width:30%;
}
#center{
    width:50%;
}
#small{
    font-size: 90%;
}
label{
    font-size: 70%;
}
